$blue: #2ecc71;
$gray-text: #908f90;
$gray: #f1f2f6;
$red: #ff4757;
$cornflower-blue: #6d71f9;
$shy-moment-blue: #a29bfe;
$athens-gray: #f6f4fc;
$green-darner-tail: #74b9ff;
$award: #ffd1c7;
$growth: #ffe4c3;
$carrot: #e67e22;
$warning: #fef2f4;
$message: #eff1fe;
$bg-dark-mode: #010127;
$bg-dark-mode-a:#010127fb;
$clear: rgba(255, 255, 255, 0);
$bg-blue:#E8F6FE