@font-face {
  font-family: SofiaProMedium;
  src: url("/library/fonts/SofiaProMedium.ttf") format("truetype");
}

@font-face {
  font-family: SofiaProBlack;
  src: url("/library/fonts/SofiaProBlack.ttf") format("truetype");
}

@font-face {
  font-family: SofiaProLight;
  src: url("/library/fonts/SofiaProLight.ttf") format("truetype");
}

@font-face {
  font-family: SofiaProBold;
  src: url("/library/fonts/SofiaProBold.ttf") format("truetype");
}