@font-face {
  font-family: SofiaProMedium;
  src: url("/st/library/fonts/SofiaProMedium.ttf") format("truetype");
}

@font-face {
  font-family: SofiaProBlack;
  src: url("/st/library/fonts/SofiaProBlack.ttf") format("truetype");
}

@font-face {
  font-family: SofiaProLight;
  font-weight: bold;
  src: url("/st/library/fonts/SofiaProLight.ttf") format("truetype");
}

@font-face {
  font-family: SofiaProBold;
  font-weight: lighter;
  src: url("/st/library/fonts/SofiaProBold.ttf") format("truetype");
}