@import 'loading.scss';
@import 'color.scss';
@import 'respronsive.scss';
@import 'fonts.scss';
@import 'custom-bs4.scss';
@import 'swiper.scss';

body {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.title_feature {
    font-size: 2em;

    @include responsive(sm) {
        font-size: 2.5em;
    }

    font-family: SofiaProBold;
}

.logo {
    width: 70px;
    height: 70px;
}

.medal {
    width: 80px;
    height: 80px;
}

.ava-small {
    width: 40px;
    height: 40px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.process-bar,
.exp {
    width: 100px;

    .progress {
        height: 7px;
    }
}

.exp {
    width: 150px;
}

.lesson-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.menu {
    // background-color: white;

    li:hover {
        // background-color: $gray;
        cursor: pointer;
        color: $shy-moment-blue;
    }

    .list-group {

        input:checked~h5,
        input:checked~i {
            color: $cornflower-blue;
        }

        input:checked~h5 {
            font-family: SofiaProBold;
        }

        input:checked~h5::before {
            content: '';
            width: 5px;
            height: 20px;
            background-color: $cornflower-blue;
            border-radius: 100px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    @include responsive(l-lg) {
        // position: absolute;
        top: 0;
        z-index: 1;
    }
}

#expand {
    display: none;
    width: 50px;
    height: 50px;
    // background-color: $red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    & i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    @include responsive(l-lg) {
        display: block;
        cursor: pointer;
    }
}

.basic-info.fixed-top {
    right: 0%;
}

@import 'dashboard.scss';

@import 'mylibrary.scss';
@import 'profile.scss';
@import 'style2.scss';
@import 'darkmode.scss';