<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>REBO</title>
    <!-- update the version number as needed-->
    <!-- <script defer src="/__/firebase/7.15.5/firebase-app.js"></script>-->
    <!-- include only the Firebase features as you need-->
    <!-- <script defer src="/__/firebase/7.15.5/firebase-auth.js"></script>-->
    <!-- <script defer src="/__/firebase/7.15.5/firebase-database.js"></script>-->
    <!-- <script defer src="/__/firebase/7.15.5/firebase-messaging.js"></script>-->
    <!-- <script defer src="/__/firebase/7.15.5/firebase-storage.js"></script>-->
    <!-- initialize the SDK after all desired features are loaded-->
    <!-- <script defer src="/__/firebase/init.js"></script>-->
    <link rel="stylesheet" href="/md/@fortawesome/fontawesome-free/css/all.min.css" as="style"/>
    <link rel="stylesheet" href="/md/@fortawesome/fontawesome-free/css/brands.min.css" as="style"/>
    <link rel="stylesheet" href="/md/@fortawesome/fontawesome-free/css/solid.min.css" as="style"/>
    <link rel="stylesheet" href="/md/swiper/swiper-bundle.min.css"/>
    <link rel="shortcut icon" href="/st/images/appicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/md/bootstrap/dist/css/bootstrap.min.css" as="style"/>
    <link rel="stylesheet" href="/st/stylesheets/style.min.css" as="style"/>
  </head>
  <body>
    <div id="loading-bg">
      <div class="loading"></div>
    </div>
    <section class="container-fluid">
      <div class="row overflow-hidden">
        <section class="col-12 col-lg-10 bg-athens-gray order-lg-2 position-relatives" id="main">
          <section class="d-flex justify-content-end align-items-center py-3">
            <div id="expand" onclick="toggle()"><i class="fas fa-bars"></i></div>
            <div class="ava-small mr-4"><img class="w-100 rounded-circle" id="ava" src="https://res.cloudinary.com/mavis/image/upload/v1602261844/static/60111_oigwum.jpg" alt=""/>
            </div>
          </section>
          <input class="mr-4 shadow" id="darkmode" type="checkbox" name=""/>
          <h3 class="mb-0 mr-3" id="username"></h3><a class="nav-link px-2 py-1" href="/logout">Đăng xuất</a>
          <div class="time text-secondary mr-3 text-align-end"><span class="hours">00</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;:<span class="minutes">00</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;:<span class="seconds">00</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;,Th&#x1EE9; <span class="day"></span> ,<span class="date">00</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;/<span class="month">00</span>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;/<span class="year">0000</span></div>
          <div class="px-3">
            <main id="content">
              <div class="row mt-4">
                <section class="col-12">
                  <div class="name-feature d-flex align-items-center border-bottom border-secondary pb-4">
                    <h3 class="font-weight-bold title_feature">Quà tặng</h3>
                  </div>
                </section>
                <section class="col-lg-12 mx-auto mt-5">
                  <div id="div"></div>
                </section>
              </div>
            </main>
          </div>
        </section>
        <section class="d-none d-lg-block col-12 col-sm-4 col-lg-2 menu border-right order-lg-1" id="menu">
          <div class="row mt-3 mb-3 px-3">
            <div class="col-12 d-flex align-items-center">
              <div class="logo"><img class="w-100 rounded-circle" src="/st/images/appicon.png" alt=""/></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul class="list-group"><a class="card-link" href="/dashboard" title="dashboard">
                  <li class="menu-item list-group-item border-0 py-3 d-flex align-items-center text-gray pr-0 bg-clear"><i class="fas fa-chart-bar"></i>
                    <h5 class="mb-0 ml-3">T&#x1ED5;ng Quan</h5>
                  </li></a><a class="card-link ml-0" href="/library" title="classes">
                                  <li class="menu-item list-group-item border-0 py-3 d-flex align-items-center text-gray pr-0 bg-clear"><i class="fas fa-chalkboard-teacher"></i>
                                    <h5 class="mb-0 ml-3">Thư viện</h5>
                                  </li></a><a class="card-link ml-0" href="/lesson" title="lesson">
                                  <li class="menu-item list-group-item border-0 py-3 d-flex align-items-center text-gray pr-0 bg-clear"><i class="far fa-edit"></i>
                                    <h5 class="mb-0 ml-3">Bài học</h5>
                                  </li></a><a class="card-link ml-0" href="/tools" title="tool">
                                  <li class="menu-item list-group-item border-0 py-3 d-flex align-items-center text-gray pr-0 bg-clear"><i class="fas fa-tools"></i>
                                    <h5 class="mb-0 ml-3">Công cụ</h5>
                                  </li></a><a class="card-link ml-0" href="/myLibrary" title="library">
                                  <li class="menu-item list-group-item border-0 py-3 d-flex align-items-center text-gray pr-0 bg-clear"><i class="far fa-folder"></i>
                                    <h5 class="mb-0 ml-3">Thư viện của tôi</h5>
                                  </li></a><a class="card-link ml-0" href="/profile" title="profile">
                                  <li class="menu-item list-group-item border-0 py-3 d-flex align-items-center text-gray pr-0 bg-clear"><i class="far fa-user-circle"></i>
                                    <h5 class="mb-0 ml-3">Thông tin cá nhân</h5>
                                  </li></a><a class="card-link ml-0" href="/gift" title="gift">
                                  <li class="menu-item list-group-item border-0 py-3 d-flex align-items-center text-gray pr-0 bg-clear"><i class="far fa-smile-beam"></i>
                                    <h5 class="mb-0 ml-3">Quà tặng</h5>
                                  </li></a>
              </ul>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-12">
              <div class="card shadow-lg border-0 rounded-15px">
                <div class="card-img-top"><img class="w-100" src="/st/images/ef9c599507fc84d0f6538b72d15554b5-removebg-preview_1.png" alt="Mascot"/></div>
                <div class="card-body text-center">
                  <h3 class="card-title">Mời bạn bè</h3>
                  <p class="card-text text-gray">Trải nghiệm cùng nhau. Nhân đôi điểm thưởng</p><a class="btn btn-red py-3 px-4 rounded-15px font-weight-bolder text-white" name="" id="" href="#" role="button">Mời bạn bè</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="d-lg-none col-sm-8 bg-athens-gray"></section>
      </div>
    </section>
    <script src="/md/jquery/dist/jquery.min.js"></script>
    <script src="/st/javascripts/darkmode.js" async="async"></script>
    <script src="/md/bootstrap/dist/js/bootstrap.min.js" async="async"></script>
    <script src="/md/swiper/swiper-bundle.min.js"></script>
    <script src="/st/javascripts/load.js" async="async"></script>
    <script src="/st/javascripts/loading.js" async="async"></script>
    <script src="/st/javascripts/event.js" defer="defer"></script>
    <script src="/st/javascripts/swiper.js"></script>
    <script src="/st/javascripts/api/user.js"></script>
    <script src="/st/javascripts/main.js" type="module"></script>
    <script src="/st/javascripts/api/test.js"></script>
  </body>
</html>