.row.dashboard.mt-4
  section.col-12
    .name-feature.d-flex.align-items-center.border-bottom.border-secondary.pb-4
      h3.font-weight-bold.title_feature T&#x1ED5;ng quan
  section.col-lg-12.mx-auto.mt-5
    .welcome.rounded-15px.shadow
      .row.flex-md-row-reverse
        .col-md-4.position-relative
          img(src="images/2650149-removebg_1.png", alt="").mr-md-5.mt-4.mt-md-0
        .col-md-8.py-4.px-5
          h2 Trải nghiệm học tập trên ứng dụng REBO AR
          p Mới lạ, sinh động và nhiều hơn nữa.
          p.mb-3 Tham gia cùng với 3 ngàn học sinh khác tại Việt Nam
          a.btn.btn-primary(name='', id='', href='#', role='button',style={width:'150px',height:'40px'}).font-weight-bold.rounded-15px Tải về
  section.col-12
    .row.mt-5
      .col-md-6
        .div
          .swiper-container
            .swiper-wrapper
              .swiper-slide Slide 1
              .swiper-slide Slide 2
              .swiper-slide Slide 3
              .swiper-slide Slide 4
              .swiper-slide Slide 5
              .swiper-slide Slide 6
              .swiper-slide Slide 7
              .swiper-slide Slide 8
              .swiper-slide Slide 9
              .swiper-slide Slide 10
            // Add Pagination
            .swiper-pagination
      .col-md-6
  section.col-lg-12
    .my-5.p-3.rounded-15px.shadow.course-bg
      .d-flex.justify-content-between
        h3.mb-0.font-weight-bold Your courses
        .d-flex.align-items-center
          p.mb-0.mr-3 More
          i.fa.fa-arrow-right(aria-hidden='true')
      .row.mt-4
        -
          var values =[
            {point:70,sub_title:'Business English',title:'Grammar'},
            {point:70,sub_title:'English',title:'Grammar'},
            {point:70,sub_title:'Business English',title:'Grammar'},
          ]
        each val in values
          .col-lg-4.col-md-4.col-sm-4.mt-3.mt-md-0
            .card.bg-cornflower-blue.d-flex.flex-row.rounded-15px.text-white
              .lesson-icon.my-auto.ml-4.bg-alpha-0_5.d-flex.align-items-center.justify-content-center= val.point
              .card-body.bg-clear
                p.mb-1= val.sub_title
                h3= val.title

script(src='/javascripts/chart.js')
script(src='/javascripts/swiper.js')
