extends ../main/layout.pug
block append stylesheet
  link(rel='stylesheet', href='https://unpkg.com/swiper/swiper-bundle.min.css')
  link(rel='stylesheet', href='/st/stylesheets/style.min.css',as='style')
block content
  #loading-bg
      .loading
  section
    .d-flex#menu-active.overflow-hidden
      section#menu(style={'position':'fixed'}).menu.border-right.vh-100.overflow-hidden
        .row.mt-3.mb-3.px-3
          .col-12.d-flex.align-items-center.justify-content-between
            .logo
              img.w-100.rounded-circle(src='/st/images/appicon.png', alt='')
            #close(onclick='toggle()')
              <i class="fas fa-times"></i>
        .row.tabs(style={'overflow-y':'scroll'})
          .col-12
            ul.list-group(style={'padding-left':'15px'})
              mixin menuItem(idName,icon,title,link)
                a(href=link, title=idName).card-link.ml-0
                  li(style={height:'56px'}).menu-item.border-0.d-flex.justify-content-start.justify-content-lg-center.justify-content-xl-start.pl-xl-3.pl-lg-0.pl-3.align-items-center.text-gray.pr-0.bg-clear
                    div 
                      i(class= icon,style={'line-height':'24px'})
                    .menu_title.mb-0.ml-3.d-block.d-lg-none.d-xl-block(style={'font-weight':'600'})= title
              +menuItem('dashboard','fas fa-chart-bar','Tổng quan','/dashboard')
              +menuItem('classes','fas fa-chalkboard-teacher','Thư viện','/library')
              +menuItem('lesson','far fa-edit','Bài học','/lesson')
              +menuItem('tool','fas fa-tools','Công cụ','/tools')
              +menuItem('library','far fa-folder','Thư viện của tôi','/myLibrary')
              +menuItem('profile','far fa-user-circle','Thông tin cá nhân','/profile')
              +menuItem('gift','far fa-smile-beam','Quà tặng','/gift')
        //- .row.my-3.d-block.d-lg-none.d-xl-block
        //-   .col-12
        //-     .card.shadow-lg.border-0.rounded-15px
        //-       .card-img-top
        //-         img.w-100(src='/st/images/ef9c599507fc84d0f6538b72d15554b5-removebg-preview_1.png', alt='Mascot')

        //-       .card-body.text-center
        //-         h3.card-title
        //-           | Mời bạn bè
        //-         p.card-text.text-gray
        //-           | Trải nghiệm cùng nhau. Nhân đôi điểm thưởng
        //-         a.btn.btn-red.py-3.px-4.rounded-15px.font-weight-bolder.text-white(name='', id='', href='#', role='button') Mời bạn bè
      section#main.vw-100
        section.d-flex.justify-content-end.align-items-center.py-3.px-md-5.position-relative
          #expand(onclick='toggle()')
            i.fas.fa-bars
          .ava-small.mr-4.d-flex.align-items-center#a.rounded-15px.border
            img.ava.w-100.rounded-circle
            i.ml-2.fas.fa-caret-down
        section.position-relative.px-md-5
          #user-dropdown.position-absolute(style={top:'0',right:'0'}).bg-white.z-max.p-3.rounded-15px.shadow.disable
            .d-flex.mb-5
              .ava-small.mr-4(style={width:'60px',height:'60px'})
                img.ava.w-100.rounded-circle
              div.h-100.my-auto
                h2#username.mb-0= username
                h6#email.mb-0
            .d-flex.justify-content-between
              input#darkmode.mr-4.shadow(type='checkbox', name='')
              a(href="/logout").nav-link.px-2.py-1 Đăng xuất
        .time.text-secondary.mr-3.text-align-end.px-md-5
          span.hours 00
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;:
          span.minutes 00
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;:
          span.seconds 00
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;,Th&#x1EE9; 
          span.day
          |  ,
          span.date 00
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;/
          span.month 00
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;/
          span.year 0000
        .px-md-5
          main#content.container-fluid
            block main
block script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src="/st/javascripts/darkmode.js",async)
  //- script(async, src='/md/chart.js/dist/Chart.min.js')
  //- script(src='js/bootstrap.bundle.min.js')
  script(src="/st/javascripts/userdropdown.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js', async)
  script(src='/st/javascripts/loading.js', async)
  script(src='/st/javascripts/event.js', defer)
  script(src='/st/javascripts/api/user.js')
