extends ../template.pug
block main
  #bg-blur.position-absolute.z-max(style={width:'100vw',height:'100vh',top:'0',left:'0'}).d-none
  #box.position-absolute.z-max.bg-white.shadow.flex-center.p-4(style={width:'90vw',height:'90vh'}).rounded-15px.d-none
    .d-flex
      .lesson-img(style={width:'70%',height:'300px'})
        img#lesson-img.d-block.mx-auto(alt="",style={width:'500px',height:'300px','object-fit':'cover'})
      .lesson-content
        h1#lesson-name
        p#lesson-auth.text-gray
        .py-2.btn.btn-primary(style={width:'300px'})
          a#lesson-slide.mb-0 Mở khoá học
    #close.border.rounded-circle.ver.d-flex.align-items-center.justify-content-center.shadow(style={width:'50px',height:'50px',top:'-10px',right:'-10px'}).position-absolute.bg-white
        i.fas.fa-times
  .row.mt-4
    section.col-12
      .name-feature.d-flex.align-items-center.border-bottom.border-secondary.pb-4
        h3.font-weight-bold.title_feature Thư viện
    section.col-12
      each category in categories
        h4.font-weight-bolder.mt-5= category.categoryName
        .row#s(style={height:'240px'}).mb-5.mt-3
          .swiper-container
            .swiper-wrapper
              each lesson in lessons
                -if(Buffer.from(category.categoryID,'binary').toString('utf8') == Buffer.from(lesson.categoryID,'binary').toString('utf8')){
                  .swiper-slide
                    a(href=`${lesson.lessonID}`)
                      img(data-src=`https://res.cloudinary.com/mavis/image/upload/Database_REBO/lessonImage/${lesson.lessonID}`, style={width:'100%',height:'200px','object-fit':'cover'},alt='').swiper-lazy
                -}
            .swiper-button-next.swiper-button-pagination-white
            .swiper-button-prev.swiper-button-pagination-white
block append script
  script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
  script(src='/st/javascripts/swiper/swiper-library.js')
  script(src='/st/javascripts/library/library-lesson.js')
  